/* =========================
   Custom stat card styling
   ========================= */

.contentTypesStat {
  .statistics-cards {
    justify-content: space-between;
  }

  .statistic {
    flex: 0 0 300px;
    width: 300px;
    margin: 24px 12px;
  }

  .feature-img {
    border-radius: 50%;
    overflow: hidden;
    height: 300px;
    width: 300px;
  }

  .feature-title {
    font-size: 45px;
    margin: 0;
  }

  .feature-description {
    font-size: 24px;
  }
}

/* =========================
   Fix: shrink & center SVG/IMG icons in the statistics section
   (Your HTML shows <img src="...svg"> inside .feature-img)
   ========================= */

.statistics .statistic .feature-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.statistics .statistic .feature-img img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

/* =========================
   Responsive sizes
   ========================= */

@media (max-width: 1250px) {
  .contentTypesStat {
    .statistics-cards {
      justify-content: space-around;
    }

    .statistic {
      flex: 0 0 250px;
      width: 250px;
    }

    .feature-img {
      height: 250px;
      width: 250px;
    }

    .feature-title {
      font-size: 35px;
      margin: 0;
    }

    .feature-description {
      font-size: 20px;
    }
  }

  /* Optional: reduce icon a bit on smaller screens */
  .statistics .statistic .feature-img img {
    width: 44px;
    height: 44px;
  }
}

@media (max-width: 1050px) {
  .contentTypesStat {
    .statistics-cards {
      justify-content: space-around;
    }

    .statistic {
      flex: 0 0 200px;
      width: 200px;
    }

    .feature-img {
      height: 200px;
      width: 200px;
    }

    .feature-title {
      font-size: 35px;
      margin: 0;
    }

    .feature-description {
      font-size: 20px;
    }
  }

  /* Optional: smaller icon on small screens */
  .statistics .statistic .feature-img img {
    width: 40px;
    height: 40px;
  }
}
